
name: test

on:
  push:
    branches:    
      - 'main'
  pull_request:
    types:
      - opened
      - synchronize

jobs:
  deps:
    if: github.event_name == 'pull_request'
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: codepunkt/npm-lockfile-changes@v1.0.0
        with:
          token: ${{ secrets.GITHUB_TOKEN }}

  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v3
        with:
          node-version: 16
          cache: 'npm'
      - run: npm ci
      - run: npm run typecheck
      - run: npm run lint

  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v3
        with:
          node-version: 16
          cache: 'npm'
      - run: npm ci
      - run: npm test
        env:
          AWS_REGION: 'us-east-1'
          AWS_ACCESS_KEY_ID: 'NOSUCH'
          AWS_SECRET_ACCESS_KEY: 'NOSUCH'
